.hlavicka {
    background-color: black;
    width: 1537px;
    height: 80px;
    margin-left: -10px;
    margin-top: -20px;
}
.logo_menu {
    width: 210px;
    height: 190px;
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
    margin-top: -50px;
    margin-left: -10px;


}
.navigacny_panel {
        height: 12%;
        display: flex;
        align-items: center;
}
nav ul li {
    display: inline-block;
    margin-left:    -15px;
    padding-right: 70px;
    
}
nav {
    text-align: right;
    flex: 1;
    margin-top: -125px;  
}

a {
text-decoration: none;
color: rgb(174,136,209);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kontajner {
    box-sizing: border-box;
    background-color: black;
    height: 1386px;
    width: 1537px;
    margin-left: -10px; 
}

.fieldset {
   display: flex;
   justify-content: center;
    
}


.info {
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    text-align:center;
    font-size: 20px;
}

p99 {
    color: rgb(174,136,209);
    font-size: 18px;

}

p4 {
    color: white;
    font-size: 15px;

}

p5 {
    color: white;
    font-size: 18px; ;
}

p2 {
    color: white;
}

p12{
    margin-left: 71px;
}

p11 { 
    margin-left: 107px;
   
}

p13{
margin-left: 11px;
}

p14{
    margin-left: 84px;
}

p22{
color: rgb(174,136,209);
}

.doprava {
    display: flex;
    justify-content: center;
}

p30 { 
    color:rgb(174,136,209) ;
    margin-top: 50;
    font-size: 20px;
}

.pata {
    font-size: 8px;
    height: 15px;
    width: 1535px;
    color: white;
    background-color: black;
    margin-left: 8px;
    margin-top: 20px;
}